{% extends "base.html" %} 

{% block title %} Inicio {% endblock %} 

{% block content %}

<h1 align="center">Publicaciones</h1>

<!-- Formulario para agregar una nueva publicación -->
<form method="POST" class="mb-4">
  <textarea name="post" id="post" class="form-control" placeholder="¿Qué estás pensando?" required></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-paper-plane"></i> <!-- Ícono de enviar -->
    </button>
  </div>
</form>

<!-- Todas las Publicaciones -->
<h2>Todas las Publicaciones</h2>
<div class="list-group">
  {% for post in posts %}
  <div class="list-group-item">
      <div class="media">
          <img src="{{ url_for('static', filename='images/user-placeholder.jpg') }}" alt="{{ post.user.first_name }}" class="mr-3 rounded-circle" style="width: 50px; height: 50px;">
          <span class="w-100 d-flex flex-column justify-content-start align-items-center">
            <div class="media-body w-100">
              <h5 class="mt-0">{{ post.user.first_name }} <small class="text-muted">{{ post.date.strftime('%d-%m-%Y %I:%M:%S %p') }}</small></h5>
              {{ post.data }}
            </div>
              <!-- Botón para mostrar el formulario de comentario -->
            <span class="d-flex justify-content-start align-items-center w-100">
              <button onclick="toggleCommentForm({{ post.id }})" class="btn btn-link">
                <i class="fa-solid fa-comment"></i>
              </button>
            </span>
            <!-- Formulario para agregar un comentario (oculto por defecto) -->
            <div id="commentForm-{{ post.id }}" style="display:none;" class="comment-form mb-3 w-100">
              <form method="POST" action="{{ url_for('views.comment', publication_id=post.id) }}">
                <textarea name="comment" class="form-control" placeholder="Escribe un comentario..." required></textarea>
                <span class="d-flex justify-content-end align-items-center">
                  <button type="submit" class="btn btn-primary mt-2">
                    <i class="fas fa-paper-plane"></i> <!-- Ícono de enviar -->
                  </button>
                </span>
              </form>
            </div>
          </span>

      </div>

      <!-- Mostrar comentarios -->
      <div class="comments">
        {% for comment in post.comments %}
            {% if comment.parent_id is none %}
                <div class="media mb-2 comment-root"> <!-- Clase para el primer comentario -->
                    <img src="{{ url_for('static', filename='images/user-placeholder.jpg') }}" alt="{{ comment.user.first_name }}" class="mr-3 rounded-circle" style="width: 30px; height: 30px;">
                    <div class="media-body">
                        <h6>{{ comment.user.first_name }} <small class="text-muted">{{ comment.date.strftime('%d-%m-%Y %I:%M:%S %p') }}</small></h6>
                        
                        <div class="d-flex justify-content-between align-items-center">
                          <span>
                            {{ comment.data }}
                          </span>
                          
                          <span id="actions">
                            <!-- Botón para eliminar el comentario -->
                            <form method="POST" action="{{ url_for('views.delete_comment', comment_id=comment.id) }}" style="display:inline;">
                              <button type="submit" class="btn btn-link text-danger delete-comment-btn" onclick="return confirmDelete(event);">
                                <i class="fas fa-trash-alt"></i> <!-- Ícono de eliminar -->
                              </button>
                            </form>
  
                            <!-- Botón para responder -->
                            <button onclick="toggleReplyForm({{ comment.id }})" class="btn btn-link reply-btn">
                              <i class="fa-solid fa-reply"></i>
                            </button>
                          </span>
  
                        </div>

                        <!-- Formulario de respuesta (oculto por defecto) -->
                        <div id="replyForm-{{ comment.id }}" style="display:none;" class="reply-form mt-2">
                            <form method="POST" action="{{ url_for('views.comment', publication_id=post.id) }}">
                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                <textarea name="comment" class="form-control mt-2" placeholder="Escribe tu respuesta..." required></textarea>
                                <span class="d-flex justify-content-end align-items-center">
                                  <button type="submit" class="btn btn-primary mt-2">
                                    <i class="fas fa-paper-plane"></i> <!-- Ícono de enviar -->
                                  </button>
                                </span>
                            </form>
                        </div>

                        <!-- Mostrar respuestas anidadas -->
                      {% for reply in post.comments %}
                        {% if reply.parent_id == comment.id %}
                        <div class="media ml-4 mb-2">
                            <img src="{{ url_for('static', filename='images/user-placeholder.jpg') }}" alt="{{ reply.user.first_name }}" class="mr-3 rounded-circle" style="width: 30px; height: 30px;">
                            <div class="media-body">
                                <h6>{{ reply.user.first_name }} <small class="text-muted">{{ reply.date.strftime('%d-%m-%Y %I:%M:%S %p') }}</small></h6>
                                {{ reply.data }}
                                
                                <!-- Botón para eliminar la respuesta -->
                                <form method="POST" action="{{ url_for('views.delete_comment', comment_id=reply.id) }}" style="display:inline;">
                                    <button type="submit" class="btn btn-link text-danger delete-comment-btn" onclick="return confirmDelete(event);">
                                        <i class="fas fa-trash-alt"></i> <!-- Ícono de eliminar -->
                                    </button>
                                </form>

                                <!-- Botón para responder a la respuesta -->
                                <button onclick="toggleReplyForm({{ reply.id }})" class="btn btn-link reply-btn">
                                  <i class="fa-solid fa-reply"></i>
                                </button>

                                <!-- Formulario de respuesta a la respuesta (oculto por defecto) -->
                                <div id="replyForm-{{ reply.id }}" style="display:none;" class="reply-form mt-2">
                                    <form method="POST" action="{{ url_for('views.comment', publication_id=post.id) }}">
                                        <input type="hidden" name="parent_id" value="{{ reply.id }}">
                                        <textarea name="comment" class="form-control mt-2" placeholder="Escribe tu respuesta..." required></textarea>
                                        <span class="d-flex justify-content-end align-items-center">
                                          <button type="submit" class="btn btn-primary mt-2">
                                            <i class="fas fa-paper-plane"></i> <!-- Ícono de enviar -->
                                          </button>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}