{% macro render_publications(post, current_user) %}
<div class="list-group-item">
  <div class="media">
    <img src="{{ post.user.profile_picture }}" alt="{{ post.user.first_name }}" class="mr-3 rounded-circle" style="width: 50px; height: 50px;">
    <span class="w-100 d-flex flex-column justify-content-start align-items-center">
      <div class="media-body w-100 d-inline-flex flex-column">
        <h5 class="mt-0 d-inline-flex justify-content-between">
          <span>
            {{ post.user.first_name }}
            <span style="font-size: 14px; font-style:italic; font-weight:lighter;">
              @{{ post.user.username }}
            </span>
          </span>
          <small style="font-size: 12px;" class="text-muted">{{ post.date.strftime('%d-%m-%Y %I:%M:%S %p') }}</small>
        </h5>
        <span>
          {% if post.content_type == 'image' and post.image_url %}
            <img src="{{ post.image_url }}" alt="" class="img-fluid mt-2">
          {% elif post.content_type == 'video' and post.video_url %}
            <div class="responsive-video">
              <iframe src="{{ post.video_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
          {% endif %}
        </span>
        <span>{{ post.data }}</span>
      </div>

      <!-- Botones de "Me gusta" y comentario -->
      <span class="d-flex justify-content-start align-items-center w-100">
        <form method="POST" action="{{ url_for('views.like_publication', publication_id=post.id) }}" class="d-inline-flex">
          <button type="submit" class="btn btn-link text-primary">
            <i class="fas fa-thumbs-up" style="color: {{ 'blue' if post.liked else 'lightgray' }};"></i>
            {{ post.likes_count }}
          </button>
        </form>
        <button onclick="toggleCommentForm({{ post.id }})" class="btn btn-link">
          <i class="fa-solid fa-comment"></i> {{ post.comments|length }}
        </button>
      </span>

      <!-- Formulario de comentario -->
      <div id="commentForm-{{ post.id }}" style="display:none;" class="comment-form mb-3 w-100">
        <form method="POST" action="{{ url_for('views.comment', publication_id=post.id) }}">
          <textarea name="comment" class="form-control" placeholder="Escribe un comentario..." required></textarea>
          <span class="d-flex justify-content-end align-items-center">
            <button type="submit" class="btn btn-primary mt-2"><i class="fas fa-paper-plane"></i></button>
          </span>
        </form>
      </div>
    </span>
  </div>

  <!-- Comentarios -->
  <div class="comments">
    {% for comment in post.comments if not comment.parent_id %}
      {{ comment_block(comment, current_user) }}
    {% endfor %}
  </div>
</div>
{% endmacro %}


{% macro comment_block(comment, current_user, level=0) %}
<div class="media comment-root py-0 my-0">
  <img src="{{ comment.user.profile_picture }}" alt="{{ comment.user.first_name }}" class="mr-3 mt-3 rounded-circle" style="width: 30px; height: 30px;">
  <div class="media-body pb-0">
    <span class="d-flex justify-content-between align-items-center">
      <h6 class="d-inline-flex justify-content-between">
        <span>
          {{ comment.user.first_name }}
          <span style="font-size: 14px; font-style:italic; font-weight:lighter;">
            @{{ comment.user.username }}
          </span>
        </span>
      </h6>
      <small style="font-size: 12px;" class="text-muted">{{ comment.date.strftime('%d-%m-%Y %I:%M:%S %p') }}</small>
    </span>
    <div class="d-flex justify-content-between align-items-center">
      <span>{{ comment.data }}</span>
      <span class="d-flex flex-row">
        <!-- Botón de "Me gusta" para el comentario -->
        <form method="POST" action="{{ url_for('views.like_comment', comment_id=comment.id) }}" class="d-inline-flex">
          <button type="submit" class="btn btn-link text-primary">
              <i class="fas fa-thumbs-up" style="color: {{ 'blue' if comment.liked else 'lightgray' }};"></i>
              {{ comment.likes_count }}
          </button>
        </form>      
        <!-- Botón de "Eliminar" si el usuario realizo el comentario -->
        <button onclick="toggleReplyForm({{ comment.id }})" class="btn btn-link reply-btn"><i class="fa-solid fa-reply"></i></button>
        {% if comment.user_id == current_user.id %}
        <form method="POST" action="{{ url_for('views.delete_comment', comment_id=comment.id) }}" style="display:inline;">
          <button type="submit" class="btn btn-link text-danger delete-comment-btn" onclick="return confirmDelete(event);"><i class="fas fa-trash-alt"></i></button>
        </form>
        {% endif %}
      </span>
    </div>

    <!-- Formulario de respuesta -->
    <div id="replyForm-{{ comment.id }}" style="display:none;" class="reply-form mt-2">
      <form method="POST" action="{{ url_for('views.comment', publication_id=comment.publication_id) }}">
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <textarea name="comment" class="form-control mt-2" placeholder="Escribe tu respuesta..." required></textarea>
        <span class="d-flex justify-content-end align-items-center">
          <button type="submit" class="btn btn-primary mt-2"><i class="fas fa-paper-plane"></i></button>
        </span>
      </form>
    </div>

    <!-- Renderiza respuestas recursivamente -->
    {% if comment.replies %}
      {% for reply in comment.replies %}
        {{ comment_block(reply, current_user, level + 1) }}
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endmacro %}


